h1 {
    width: 50%;
    background-color: yellow;
    margin-left: 200px;
    margin-bottom: 24px;
    padding: 20px;
    height: 200px;
    border: 2px solid black;
  }
a {
    /*display: block;*/
    display: inline-block;

}
.para1 {
    /*background-color: yellow;
    border: 2px dotted black;*/
    /*box-sizing: border-box;
    /* padding: 15px; */
  }